{% load staticfiles %}
<head>
    <title>Kibo Survey</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/kibosurvey.css' %}">
    
</head>

<body>
    <div class="page-header">
        {% if user.is_authenticated %}
            <h1 class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)(<a href="{% url 'update_profile' %}">Update</a>)</small></h1>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
    </div>
        {% block content %}
        {% endblock %}
</body>
